<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div class="container" ng-app="myApp" ng-controller="myCtrl">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Matemática</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row pt-3">
            <div class="col col-md-12 pt-3">
                <h4 class="text-center">Algorítmos Humanos para as Operações Básicas da Matemática</h4></div>
        </div>
        <div class="row row justify-content-md-center pt-3">
            <div class="col-12 col-md-auto">
                <label for="exampleSelect1">Operação</label>
                <select class="form-control" ng-model="operation">
                <option value="+">Soma</option>
                <option value="-">Subtração</option>
                <option value="×">Multiplicação</option>
                <!--<option value="×">Divisão</option>-->
            </select>
            </div>
            <div class="col-12 col-md-auto">
                <label for="exampleInputEmail1">Número</label>
                <input type="text" class="form-control" ng-model="a" placeholder="Número Natural">
            </div>
            <div class="col-12 col-md-auto">
                <label for="exampleInputEmail1">Número</label>
                <input type="text" class="form-control" ng-model="b" placeholder="Número Natural">
            </div>
            </fieldset>
        </div>
        <div class="row pt-3">
            <div class="col col-md-12">
                <canvas id="myCanvas" width="800" height="800" style="border:1px solid #d3d3d3;">
                    Your browser does not support the canvas element.
                </canvas>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="app.js"></script>
</body>

</html>
